<div class="row">
  <div class="col-sm-12 bordered-container">
    <h1>Alt Contact Sync</h1>
    <hr>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas elit massa, tempor ac est ac, congue sagittis turpis. Integer eget leo pellentesque, rutrum lectus sed, egestas nulla. Suspendisse sem metus, pulvinar vitae ligula pharetra, molestie varius arcu. Ut nisi sem, rhoncus vel felis a, aliquet gravida felis. Proin nunc ex, finibus nec velit id, dictum blandit risus. Nullam sit amet ipsum id sapien pharetra dignissim. Suspendisse vitae dolor sem. Vivamus vehicula, dolor in luctus commodo, orci nibh finibus erat, et cursus leo quam quis justo. Aliquam mauris ex, viverra eu dignissim quis, faucibus ac ligula. Cras id tortor bibendum, eleifend odio ac, dignissim massa. Vivamus lacinia sed tortor at fermentum.</p>
    <p>Nunc vehicula erat eu quam molestie blandit. Duis id felis nulla. Ut tincidunt congue justo, sed vulputate neque. Nunc rutrum a ligula a porta. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. In hac habitasse platea dictumst. Quisque feugiat dignissim nibh vitae varius. Praesent placerat justo diam, at posuere nisl laoreet quis. Suspendisse eu aliquam neque, sit amet tempor tortor. Vestibulum tincidunt enim ac odio rhoncus ornare. Sed nec risus gravida magna imperdiet rutrum eu et sapien. Duis neque urna, placerat eu eleifend sit amet, porta nec elit. Curabitur rutrum vulputate eros a iaculis. Sed volutpat nibh ut volutpat auctor.</p>

    <p>Aliquam erat volutpat. Vivamus ut venenatis risus. Maecenas consectetur aliquet aliquet. Etiam semper aliquam enim, accumsan convallis velit. Donec et augue at quam egestas suscipit. Maecenas et nisi vel justo vehicula viverra. Sed consequat lobortis diam lacinia euismod.</p>

    <p>Sed lacinia finibus euismod. Quisque ut augue ut quam vehicula efficitur vel et neque. Nulla accumsan mollis purus eget finibus. Vivamus tincidunt purus tellus, efficitur laoreet massa tincidunt vel. Ut blandit at dui et consequat. Curabitur maximus hendrerit libero sed tincidunt. Mauris sodales elementum justo, consectetur volutpat orci pellentesque id. In cursus velit quis risus ultrices fermentum. Morbi a tellus ullamcorper, imperdiet erat quis, consequat elit. Etiam fringilla magna et quam vehicula gravida. Quisque et tincidunt mi. Nunc lobortis lectus ac purus sollicitudin placerat. Aliquam iaculis quam eu erat euismod bibendum. Nulla eu arcu sit amet urna sodales suscipit. Duis id neque porta, consectetur sapien et, luctus mauris. Vivamus nec mollis purus, a iaculis ligula.</p>

    <p>Pellentesque consequat dui non ante ultricies, et gravida lorem facilisis. Quisque et orci sapien. Quisque tincidunt at mi at ullamcorper. Praesent iaculis, velit ut mollis pulvinar, lacus enim ornare odio, vitae feugiat ligula augue quis tellus. Praesent consequat eleifend mauris, sed mollis orci. Suspendisse aliquet quam interdum enim lacinia, vitae venenatis enim molestie. Nam quis diam massa. Praesent tristique malesuada ligula gravida laoreet. Ut nec est dui. Cras vel molestie tortor, sed facilisis sapien. Sed quam lacus, imperdiet eu elementum vitae, facilisis quis dolor. Aenean sed vehicula mi. Etiam ultrices quam in turpis dictum, ut cursus odio dignissim. Quisque sagittis ligula vitae leo accumsan, quis mollis enim faucibus. Aenean euismod bibendum dignissim.</p>
    <div class="text-center">
    <%= link_to image_tag("https://web.ccpgamescdn.com/eveonlineassets/developers/eve-sso-login-black-large.png"), user_crest_omniauth_authorize_path %>
    </div>
  </div>
</div>

