<div class="row">
  <div class="col-sm-12 bordered-container">
    <h1>Alt Contact Sync</h1>
    <hr>
    <p>
    Moving around in space on one of your out of corp alts and want to see your corps standings towards other pilots?
    </p>
    <p>
    Rather than manually add the thousands of contacts your alliance has spent years building up just sign into this tool with your main account, add yours alts and at a click of a button we'll sync up your contacts saving you hours in manual processes.
    </p>
    <div class="text-center">
        <p>To get started just sign in with your main account</p>
        <%= link_to image_tag("https://web.ccpgamescdn.com/eveonlineassets/developers/eve-sso-login-black-large.png"), user_crest_omniauth_authorize_path %>
    </div>
  </div>
</div>

